@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');
.skillcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
    
}
.skillcontainer_text1{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}
.skillcontainer_text > h2{
    font-size: 30px;
}
.skillcontainer_image {
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}
.skillcontainer_text {
    flex: 0.6;
    text-align: center;
    margin-right: 100px;
}

.skillcontainer_image > img{
    width: 600px;
    height: 100%;
    border-radius: 3px;
    object-fit: contain;
}
.skillcontainer_skillset > h5 {
    font-family: 'monserrate'sans-serif;
    text-align: justify;
    color: aqua;
}

.skillcontainer_slider > .MuiLinearProgress-colorPrimary{
    background-color: brown !important;

}
.skillcontainer_slider1 > div >.MuiLinearProgress-barcolorPrimary{
    background-color: brown;
}
.skillcontainer_slider2> div >.MuiLinearProgress-barcolorPrimary{
    background-color: brown;
}
.skillcontainer_slider3 > div >.MuiLinearProgress-barcolorPrimary{
    background-color: brown;
}
.skillcontainer_slider4 > div >.MuiLinearProgress-barcolorPrimary{
    background-color: brown;
}






